.container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .header img {
    width: 100px; 
    height: auto;
    cursor: pointer;
  }
  
  .header button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
  }
  
  .middle {
    border-top: 0.4px solid #FFF2E7;
    padding: 20px;
  }
  
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

   .input-home {
    font-size: 15px;
    color: black;
    border: none;
    display: block;
    width: 10%;
    height: 40px;
    background-color: white;
    padding: 5px;
    border-radius: 5%;
  }