.container {
  width: 100%;
  margin: 0 auto;
}

.container-a {
  width: 100%;
  min-height: 100vh;
  margin-left: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  padding: 15px;
  
}
  .wrap-a {
    width: 390px;
    background-color: #F5F7F8;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow:
    1.3px 1.2px 2.1px rgba(0, 0, 0, 0.013),
    3.2px 2.8px 5.1px rgba(0, 0, 0, 0.021),
    6px 5.3px 9.5px rgba(0, 0, 0, 0.028),
    10.7px 9.4px 17px rgba(0, 0, 0, 0.035),
    20.1px 17.5px 31.8px rgba(0, 0, 0, 0.046),
    48px 42px 76px rgba(0, 0, 0, 0.07)
  ;
;
  }
  
  .a-form {
    width: 100%;
  }
  
  .a-form-title {
    display: block;
    font-size: 30px;
    color: black;
    line-height: 1.2;
    text-align: center;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #000000 #FFFFFF;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #FFFFFF;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: linear-gradient(to left, #B931FC, #5D12D2);;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to left, #B931FC, #5D12D2);;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background: linear-gradient(to left, #B931FC, #5D12D2);;
  }

  .login-form-title {
    display:block;
    text-align: center;
  }
  
  .login-form-title img {
    width: 90px;
  }