.container {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-a {
    width: 100%;
    min-height: 100vh;
    margin-left: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    padding: 15px;
    background-color: white;
  }
